[Desktop Entry]
Name=Lilith TTS
GenericName=Text to Speech
Comment=Lilith Linux system-wide TTS panel applet
Type=Application
Exec=lilith-tts
Terminal=false
StartupNotify=true
NoDisplay=true
Categories=COSMIC;Accessibility;Utility;
Keywords=COSMIC;TTS;Text;Speech;Screen;Reader;Accessibility;
Icon=io.lilith.LilithTts-symbolic
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
